dist/
node_modules/
.DS_Store
.env*
.idea/
.vscode/
# OS junk
Thumbs.db
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
*.tsbuildinfo

# Locales/i18n artifacts
/src/i18n/i18n.extended.ts